h1 {
    text-align: center;
    position: absolute;
    bottom: 50%;
    right: 50%;
}
h2 {
    text-align: center;
    position: absolute;
    bottom: 45%;
    right: 50%;
}
h3 {
    position: absolute;
    top: 0%;
    left: 0%;
}
h4 {
    position: absolute;
    bottom: 0%;
    right:0%
}
h5 {
    position: absolute;
    top: 50%;
    right: 85%;
}